@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "coolvetica";
  src: url("/fonts/coolvetica.cond.otf") format("opentype");
  font-display: swap;
}

@theme {
  --font-label: "coolvetica", sans-serif;
  --font-tag: "La Belle Aurore", cursive;
  --font-rg: "Bebas Neue", helvetica;

  /* Primary - Orange */
  --color-primary-50:  #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-200: #fed7aa;
  --color-primary-300: #fdba74;
  --color-primary-400: #fb923c;
  --color-primary-500: #ff5722; /* Base */
  --color-primary-600: #ea4e1d;
  --color-primary-700: #c2410c;
  --color-primary-800: #9a3412;
  --color-primary-900: #7c2d12;
  --color-primary-950: #431407;

  /* Secondary - Dark Gray */
  --color-secondary-50:  #f7f7f7;
  --color-secondary-100: #ededed;
  --color-secondary-200: #d9d9d9;
  --color-secondary-300: #bdbdbd;
  --color-secondary-400: #969696;
  --color-secondary-500: #6f6f6f;
  --color-secondary-600: #525252;
  --color-secondary-700: #3b3b3b;
  --color-secondary-800: #252525; /* Base */
  --color-secondary-900: #171717;
  --color-secondary-950: #0a0a0a;

  --breakpoint-xs: 22.5rem;   /* 360px */
  --breakpoint-sm: 30rem;     /* 480px */
  --breakpoint-md: 40rem;     /* 640px */
  --breakpoint-lg: 48rem;     /* 768px */
  --breakpoint-xl: 64rem;     /* 1024px */
  --breakpoint-2xl: 80rem;    /* 1280px */
  --breakpoint-3xl: 96rem;    /* 1536px */
  --breakpoint-4xl: 112.5rem; /* 1800px */
}


